<div class="user-funds">
  <div ng-if="user.isLoggedIn()" class="user-funds_funds">
    info about transactions
    <table>
      <thead>
        <tr>
          <td>id</td>
          <td ng-repeat="meta in transactionMeta">{{meta}}</td>
        </tr>  
      </thead>

      <tbody>
        <tr ng-repeat="(id, T) in transactionsProvider.getTransactions()">
          <td>{{id}}</td>
          <td ng-repeat="meta in transactionMeta">{{T[meta]}}</td>
        </tr>
      </tbody>
      
    </table>
  </div>
  <div ng-if="!user.isLoggedIn()" class="user-funds_funds">
    Please login!
  </div>
</div>
