<table class="at">
  <thead>
    <tr>
      <td class="at-head-cell" ng-repeat="ax in query.axisNames">
        <div class="at-head-cell-content">{{ax}}</div>
      </td>
      <td class="at-head-cell" ng-repeat="col in query.axises[0]">
        <div class="at-head-cell-content">{{col.name}}</div>
      </td>
    </tr>
  </thead>
  <tbody class="at-body" ng-repeat="rowKey in query.axises[1]">
    <tr class="at-row">
      <td>{{rowKey}}</td>

      <td ng-repeat="col in query.axises[0]"
        mtv-row-cell="{{col.type}}"></td>
    </tr>

  </tbody>
  <tfoot><tr></tr></tfoot>
</table>
