<div>
  <div>
    <span>{{name}}</span>
    
    <span mtv-typeahead 
      data-value="pair"
      data-suggestions="Reference.pairs" 
      data-placeholder="Enter pair" >
    </span>
   
  </div>  

  <div class="depth">
    <div class="depth-bids">
      <div>Bids</div>
      <div mtv-data-source-table 
        meta="meta" 
        data="dataSourceBids" 
        formatter="formatter"
        handler="handler"></div>
    </div>
    <div class="depth-asks">
      <div>Asks</div>      
      <div mtv-data-source-table
        meta="meta" 
        data="dataSourceAsks" 
        formatter="formatter"
        handler="handler"></div>
    </div>
  </div>

</div>